%%% -*- mode: erlang -*-

%% Additional library directories to add to the code path
{lib_dirs, ["./lib"]}.

%% Require OTP version R13B04 or R14
{require_otp_vsn, "R13B04|R14"}.

%% Sub directories
{sub_dirs, ["lib/gmt_util"
            , "lib/cluster_info"
            , "lib/partition_detector"
            , "lib/congestion_watcher"
            , "lib/mochiweb"
            , "lib/ubf"
            , "lib/ubf_jsonrpc"
            , "lib/ubf_thrift"
            , "lib/gdss_brick"
            , "lib/gdss_client"
            , "lib/gdss_admin"
            , "lib/gdss_ubf_proto"
            , "lib/gdss_json_rpc_proto"
            , "lib/gdss_s3_proto"
            , "rel"
           ]}.

%% Depends
{deps_dir, "lib"}.
{deps, [{gmt_util, "0.1.1", "lib/gmt_util"}
        , {cluster_info, "0.1.0", "lib/cluster_info"}
        , {partition_detector, "0.1.0", "lib/partition_detector"}
        , {congestion_watcher, "0.1.0", "lib/congestion_watcher"}
        , {mochiweb, "2.0.0", "lib/mochiweb"}
        , {ubf, "1.15.1", "lib/ubf"}
        , {ubf_jsonrpc, "0.1.0", "lib/ubf_jsonrpc"}
        , {ubf_thrift, "0.1.0", "lib/ubf_thrift"}
        , {gdss_brick, "0.1.2", "lib/gdss_brick"}
        , {gdss_client, "0.1.0", "lib/gdss_client"}
        , {gdss_admin, "0.1.1", "lib/gdss_admin"}
        , {gdss_ubf_proto, "0.1.1", "lib/gdss_ubf_proto"}
        , {gdss_json_rpc_proto, "0.1.0", "lib/gdss_json_rpc_proto"}
        , {gdss_s3_proto, "0.1.0", "lib/gdss_s3_proto"}
       ]}.
