%%% -*- mode: erlang -*-

{require_otp_vsn, "R16|17|18"}.

%% Sub directories
{sub_dirs, ["rel"]}.

%% Compiler options
{erl_opts, [{parse_transform, lager_transform}]}.

%% Depends
{deps_dir, "lib"}.
{deps, [%% External - Tools
        {bear,               ".*",     "lib/bear"},
        {folsom,             ".*",     "lib/folsom"},
        {lager,              "2.0.*",  "lib/lagar"},
        {sext,               ".*",     "lib/sext"},

        %% Tools
        {gmt_util,           "0.1.12", "lib/gmt_util"},
        {cluster_info,       "0.1.11", "lib/cluster_info"},
        {congestion_watcher, "0.1.11", "lib/congestion_watcher"},
        {partition_detector, "0.1.11", "lib/partition_detector"},

        %% External - H2LevelDB
        {h2leveldb,          ".*",     "lib/h2leveldb"},

        %% External - UBF
        {pmod_transform,     ".*",     "lib/pmod_transform"},
        {ubf,                "2.2.2",  "lib/ubf"},
        {ubf_thrift,         "1.1.1",  "lib/ubf_thrift"},

        %% Hibari
        {gdss_brick,         "0.3",    "lib/gdss_brick"},
        {gdss_client,        "0.1.12", "lib/gdss_client"},
        {gdss_admin,         "0.3",    "lib/gdss_admin"},
        {gdss_ubf_proto,     "0.1.11", "lib/gdss_ubf_proto"},

        %% External - Testing
        {meck,               "0.8.*",  "lib/meck"},
        {qc,                 "v2.0.1", "lib/qc"},

        %% External - Doc
        {edown,              "0.7.*",  "lib/edown"},
        {asciiedoc,          "0.2.*",  "lib/asciiedoc"}
       ]}.
