%%% -*- mode: erlang -*-

%% Require OTP version R16
{require_otp_vsn, "R16"}.

%% Sub directories
{sub_dirs, ["rel"]}.

%% Compiler options
{erl_opts, [{parse_transform, lager_transform}]}.

%% Depends
{deps_dir, "lib"}.
{deps, [{gmt_util, "0.3.0", "lib/gmt_util"}
        , {lager, "2.0.0", "lib/lager"}
        , {cluster_info, "0.3.0", "lib/cluster_info"}
        , {partition_detector, "0.3.0", "lib/partition_detector"}
        , {congestion_watcher, "0.3.0", "lib/congestion_watcher"}
        , {meck, "0.8.*", "lib/meck"}
        , {edown, "0.3.*", "lib/edown"}
        , {asciiedoc, "0.1.*", "lib/asciiedoc"}
        , {qc, "v1.0.0", "lib/qc"}
        %% , {ubf, "1.15.11.hibari.1", "lib/ubf"}
        %% , {ubf_thrift, "0.1.6.1.hibari.2", "lib/ubf_thrift"}
        , {gdss_brick, "0.3.0", "lib/gdss_brick"}
        , {gdss_client, "0.3.0", "lib/gdss_client"}
        , {gdss_admin, "0.3.0", "lib/gdss_admin"}
        %% , {gdss_ubf_proto, "0.3.0", "lib/gdss_ubf_proto"}
       ]}.
