%% -*- mode: erlang; coding: utf-8 -*-

%%% Number of concurrent worker processes
%% {concurrent, 100}.
{concurrent, 20}.

%% {duration, 60}.
%% {duration, 30}.
{duration, 1}.

%%% Operation rate. 'max' or '{rate, OperationsPerSecond}'
%% {mode, max}.
{mode, {rate, 50}}.

%%% Hibari client settings
{hibari_admin_nodes, ['hibari@127.0.0.1']}.
{hibari_brick_nodes, ['hibari@127.0.0.1']}.
{hibari_table, perf1}.

%%% Keys
{key_generator, {int_to_bin_bigendian, {uniform_int, 1000000}}}.

%%% Values
{value_generator, {fixed_bin,     100}}. %%  100 Byts
%% {value_generator, {fixed_bin,    1024}}. %%    1 KB
%% {value_generator, {fixed_bin,   10240}}. %%   10 KB
%% {value_generator, {fixed_bin,  102400}}. %%  100 KB
%% {value_generator, {fixed_bin, 1048576}}. %% 1024 KB

%%% Operations
{operations, [{get, 70}
              , {get_witness, 10}
              , {add, 5}
              , {replace, 5}
              , {set, 10}
              , {rename, 5}  %% Since Hibari v0.3.0
              , {delete, 5}
             ]}.

%%% True to add md5 digest to validate value is correct.
{verify_read, true}.


%%%
%%% BashoBench driver information
%%%
{driver, basho_bench_driver_hibari_native}.

{code_paths, ["/home/tatsuya/workhub/dev/hibari/hibari/tools/basho_bench_driver",
              "/home/tatsuya/workhub/dev/hibari/hibari/lib/cluster_info",
              "/home/tatsuya/workhub/dev/hibari/hibari/lib/gmt_util",
              "/home/tatsuya/workhub/dev/hibari/hibari/lib/gdss_brick",
              "/home/tatsuya/workhub/dev/hibari/hibari/lib/gdss_client"
             ]}.

%%% value_generator_source_size must be larger than
%%% the max value size of value_generator.
{value_generator_source_size, 1100000}.
