%%% -*- mode: erlang -*-

{sys, [
       {lib_dirs, ["../lib"]},
       {rel, "hibari", "1",
        [
         kernel,
         stdlib,
         sasl,
         xmerl,
         inets,
         crypto,
         gmt,
         gdss_client,
         gdss_s3_proto,
         gdss_ubf_proto,
         gdss_json_rpc_proto,
         gdss_admin
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "hibari"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, gmt, [{incl_cond, include}]},
       {app, gdss_client, [{incl_cond, include}]},
       {app, gdss_s3_proto, [{incl_cond, include}]},
       {app, gdss_ubf_proto, [{incl_cond, include}]},
       {app, gdss_json_rpc_proto, [{incl_cond, include}]},
       {app, gdss_admin, [{incl_cond, include}]}
      ]}.

{target_dir, "hibari"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/hibari", "bin/hibari"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
