%%% -*- mode: erlang -*-

{sys,
 [
  {lib_dirs, ["../lib"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "hibari", "0.1.10",
   [
    kernel,
    stdlib,
    sasl,
    crypto,
    ssl,
    public_key,
    compiler,
    syntax_tools,
    xmerl,
    inets,
    riak_err,
    cluster_info,
    gmt_util,
    partition_detector,
    congestion_watcher,
    ubf,
    ubf_thrift,
    gdss_brick,
    gdss_client,
    gdss_ubf_proto,
    gdss_admin
   ]},
  {rel, "start_clean", "",
   [
    kernel,
    stdlib
   ]},
  {boot_rel, "hibari"},
  {profile, embedded},
  {incl_cond, exclude},
  {excl_archive_filters, [".*"]}, %% Do not archive built libs
  {excl_sys_filters, ["^bin/.*", "^erts.*/doc", "^erts.*/src",
                      "^erts.*/info", "^erts.*/man",
                      "^erts.*/lib", "^erts.*/include",
                      "^erts.*/bin/(dialyzer|typer)"]},
  {excl_app_filters, ["\.gitignore", "^include.mk.in"]},
  {app, kernel,              [{incl_cond, include}]},
  {app, stdlib,              [{incl_cond, include}]},
  {app, sasl,                [{incl_cond, include}]},
  {app, crypto,              [{incl_cond, include}]},
  {app, ssl,                 [{incl_cond, include}]},
  {app, public_key,          [{incl_cond, include}]},
  {app, compiler,            [{incl_cond, include}]},
  {app, runtime_tools,       [{incl_cond, include}]},
  {app, syntax_tools,        [{incl_cond, include}]},
  {app, xmerl,               [{incl_cond, include}]},
  {app, inets,               [{incl_cond, include}]},
  {app, riak_err,            [{incl_cond, include}]},
  {app, cluster_info,        [{incl_cond, include}]},
  {app, gmt_util,            [{incl_cond, include}]},
  {app, partition_detector,  [{incl_cond, include}]},
  {app, congestion_watcher,  [{incl_cond, include}]},
  {app, meck,                [{incl_cond, include}]},
  {app, ubf,                 [{incl_cond, include}]},
  {app, ubf_thrift,          [{incl_cond, include}]},
  {app, gdss_brick,          [{incl_cond, include}]},
  {app, gdss_client,         [{incl_cond, include}]},
  {app, gdss_ubf_proto,      [{incl_cond, include}]},
  {app, gdss_admin,          [{incl_cond, include}]},
  %% Including HiPE can cause issues generating your first upgrade.
  %% If you plan to distribute HiPE in your release remove the
  %% following line.
  {app, hipe,                [{incl_cond, exclude}]}
 ]}.

{target_dir, "hibari"}.

{overlay_vars, "vars.config"}.

{overlay,
 [
  %% {{erts_vsn}}/bin/
  {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
  {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
  {copy, "files/nodetool-admin", "{{erts_vsn}}/bin/nodetool-admin"},

  %% bin/
  {template, "files/hibari", "bin/hibari"},
  {template, "files/hibari-admin", "bin/hibari-admin"},

  %% etc/
  {copy, "files/congestion_watcher.config", "etc/congestion_watcher.config"},
  {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
  {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},

  %% relnotes/
  {mkdir, "relnotes"},
  {copy, "../relnotes/*", "relnotes"},

  %% root/{conf,htdocs/css,ssl}
  {mkdir, "root"},
  {copy, "../lib/gdss_admin/priv/root/conf/admin.conf", "root/conf/admin.conf"},
  {copy, "../lib/gdss_admin/priv/root/conf/httpd.conf", "root/conf/httpd.conf"},
  {copy, "../lib/gdss_admin/priv/root/conf/mime.types", "root/conf/mime.types"},
  {copy, "../lib/gdss_admin/priv/root/conf/ssl.conf", "root/conf/ssl.conf"},
  {copy, "../lib/gdss_admin/priv/root/htdocs/css/admin.css", "root/htdocs/css/admin.css"},
  {copy, "../lib/gdss_admin/priv/root/ssl/ssl_client.pem", "root/ssl/ssl_client.pem"},
  {copy, "../lib/gdss_admin/priv/root/ssl/ssl_server.pem", "root/ssl/ssl_server.pem"},

  %% data/
  {mkdir, "{{gdss_data_dir}}"},

  %% log/
  {mkdir, "{{sasl_log_dir}}"}
 ]}.
