%%% -*- mode: erlang -*-

%%
%% bin/hibari
%%
{runner_script_dir, "$(cd ${0%/*} && pwd)"}.
{runner_base_dir, "${RUNNER_SCRIPT_DIR%/*}"}.
{runner_etc_dir, "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir, "$RUNNER_BASE_DIR/log"}.
{pipe_dir, "$RUNNER_BASE_DIR/tmp"}.
{runner_user, ""}.

%%
%% etc/app.config
%%
{sasl_error_log, "log/sasl-error.log"}.
{sasl_log_dir, "log/sasl"}.

{gdss_data_dir, "data/brick"}.
