%%% -*- mode: erlang -*-

[
 %%
 %% Kernel config
 %%
 {kernel,
  [{distributed, [{gdss_admin, 2000, [{{gdss_admin_nodes}}]}]},
   {sync_nodes_mandatory, []},
   {sync_nodes_optional, [{{gdss_admin_other_nodes}}]},
   {sync_nodes_timeout, 123}
  ]
 },

 %%
 %% SASL config
 %%
 {sasl,
  [{sasl_error_logger, {file, "{{sasl_error_log}}"}},
   %% DEBUG {errlog_type, error},
   {errlog_type, all},
   {error_logger_mf_dir, "{{sasl_log_dir}}"},
   {error_logger_mf_maxbytes, {{sasl_log_maxbytes}} }, %% NOTE: space between }} }
   {error_logger_mf_maxfiles, {{sasl_log_maxfiles}} }  %% NOTE: space between }} }
  ]},

 %%
 %% GDSS Brick, config
 %%
 {gdss,
  [{brick_default_data_dir, "{{gdss_data_dir}}"}
  ]},

 %%
 %% GDSS Admin config
 %%
 {gdss_admin,
  [{admin_server_distributed_nodes, [{{gdss_admin_nodes}}] },
   {application_data_dir, "."}
  ]}
].
