%%% -*- mode: erlang -*-

[
 %%
 %% Kernel config
 %%
 {kernel,
  [{distributed, [{gdss_admin, 2000, ['hibari@127.0.0.1']}]},
   {sync_nodes_mandatory, []},
   {sync_nodes_optional, []},
   {sync_nodes_timeout, 123}
  ]
 },

 %%
 %% SASL config
 %%
 {sasl,
  [{sasl_error_logger, {file, "{{sasl_error_log}}"}},
   %% DEBUG {errlog_type, all},
   {errlog_type, error},
   {error_logger_mf_dir, "{{sasl_log_dir}}"},
   {error_logger_mf_maxbytes, 10485760},  % 10 MB max file size
   {error_logger_mf_maxfiles, 5}          % 5 files max
  ]},

 %%
 %% Partition Detector
 %%
 {partition_detector,
  [{heartbeat_status_udp_port, 63099},
   {heartbeat_status_xmit_udp_port, 63100},
   {network_a_address, "127.0.0.1"},
   {network_a_broadcast_address, "127.0.0.1"},
   {network_a_tiebreaker, "127.0.0.1"},
   {network_b_address, "127.0.0.1"},
   {network_b_broadcast_address, "127.0.0.1"},
   {network_monitor_enable, true},
   {network_monitor_monitored_nodes, ['hibari@127.0.0.1']}
  ]},

 %%
 %% GDSS Brick config
 %%
 {gdss_brick,
  [{brick_default_data_dir, "{{gdss_data_dir}}"}
  ]},

 %%
 %% GDSS Admin config
 %%
 {gdss_admin,
  [{application_data_dir, "."},
   {brick_admin_conf_path, "root/conf/admin.conf"},
   {brick_s3_conf_path, "root/conf/s3.conf"}
  ]}
].
