###----------------------------------------------------------------------
### Copyright (c) 2007-2016 Hibari developers.  All rights reserved.
###
### Licensed under the Apache License, Version 2.0 (the "License");
### you may not use this file except in compliance with the License.
### You may obtain a copy of the License at
###
###     http://www.apache.org/licenses/LICENSE-2.0
###
### Unless required by applicable law or agreed to in writing, software
### distributed under the License is distributed on an "AS IS" BASIS,
### WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
### See the License for the specific language governing permissions and
### limitations under the License.
###
### File    : congestion_watcher.conf
### Purpose : congestion watcher configuration file
###----------------------------------------------------------------------

#
# Format:
# Each item description to watch is specified on 1 line. An item description
# is comprised of 9 different comma separated fields. No spaces are allowed
# around the commas. The following describes each field.
#
# 1: WHAT TO WATCH - The field is has three colon separated fields.
#    The first field can be 'mnesia', 'apply' or 'gen_server'. Remaining fields:
#      mnesia -> 2nd field is 'items' or 'bytes', 3rd is table name
#      apply -> 2nd if module and 3rd is function with 0 args
#      gen_server -> 2nd is 'items' and 3rd is the gen_server process name
# 2: INTERVAL - to check this item for congestion. This is specified in millis.
# 3: ENABLED - true if item is enabled, false to disable monitoring.
# 4: LOW WATER MARK - If congested the item will return to the uncongested state
#    once the size falls below this mark.
# 5: WARN WATER MARK - A warning will be written to the log file once the size of
#    the item reaches this size. No further warning will be issued unless the size
#    falls below the low water mark or rises above the high water mark.
# 6: HIGH WATER MARK - Once the high water mark is reached, the item is considered
#    to be congested. A restriction message will be sent to the RESTRICT_WHO field.
# 7: RESTRICT WHO - The process which needs to receive the restriction messages or
#    undefined for logging only if there is nobody to restrict.
# 8: RESTRICT MSEC - Number of millis the RESTRICT WHO process should impose a
#    restriction for before assuming it can continue again.
# 9: RESTRICT WHAT - A colon separated list of items to restrict.

# monitor erlang processes - action is pure logging
apply:congestion_util:process_count,5000,true,5000,15000,25000,undefined,0,undefined

# monitor erlang process mailbox sizes - action is pure logging
apply:congestion_util:mbox_count,60000,true,1000,2000,20000,undefined,0,undefined

# monitor memory used by erlang processes looking for large sizes - action is pure logging
apply:congestion_util:process_maxmem,60000,true,20000000,80000000,100000000,undefined,0,undefined

# Logfile MARK every 60s with {last,max} count for mbox,pcount and maxmem
mark,60000,true,0,0,0,undefined,0,apply:congestion_util:mbox_count;apply:congestion_util:process_count;apply:congestion_util:process_maxmem
